<div class="drag-box main" cdkDrag>
  <h2>Welcome to your new project!</h2>

  Follow these steps to get you up and running...
  <div>
    <ul>
      <li>
        <ds1-tooltip header="dashboard">
          <input type="checkbox" />Your dashboard
          <ng-template #tooltipContentTemplate>
            Help for your dashboard.  Lorem ipsum Lorem ipsum Lorem ipsum Lorem
            ipsum.
            <button (click) = "navigate(['/dashboard'])">OK</button>
          </ng-template>
        </ds1-tooltip>
      </li>
      <li>
        <ds1-tooltip header="findings">
          <input type="checkbox" (change)="helpWith($event, 'that')" />Help with Findings
          <ng-template #tooltipContentTemplate>
            Help for Findings
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum.
            <button (click) = "navigate(['/findings'])">OK</button>
          </ng-template>
        </ds1-tooltip>
      </li>
      <li>
        <input type="checkbox" (change)="helpWith($event, 'the other')" />Help
        outside this app
      </li>
      <li>
        <input type="checkbox" (change)="helpWith($event, 'this other')" />Help
        with a document
      </li>
    </ul>
  </div>

  <a (click)="toggleTour()" role="link">Got it! [X]</a>
</div>

<span hidden id="#helpForOne"
  >Shazam! This help message is here to help with Viewer</span
>
<span hidden id="#helpForThat"
  >Shazam! This help message is here to help with Findings</span
>
<span hidden id="#helpForTheOther"
  >Shazam! This help message is here to help with Dashboard</span
>
