<header class="flex">
  <h1>{{ title }}!</h1>
  <ul class="top-menu">
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="dashboard">Dashboard</a>
    </li>
    <li>
      <a routerLink="findings">Findings</a>
    </li>
    <li>
      <a routerLink="not">Not Found</a>
    </li>
  </ul>
</header>
<main>

</main>
<router-outlet></router-outlet>
<div class="tour">
  <a [routerLink]="[{ outlets: { 'tour': ['component-aux'] } }]">Tour</a>
  <router-outlet name="tour"></router-outlet>
</div>

